/* ==========================
Progress bar
========================== */
.progress {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .step {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: $gray-mid;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    &.active {
      background: $primary;
    }
  }
}
