/* ==========================
Slots (créneaux)
========================== */
.slots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.slot {
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: $gray-light;
  transition: 0.3s;
  position: relative;

  &:hover:not(.disabled):not(.locked) {
    background: lighten($primary, 30%);
  }

  &.disabled {
    background: $gray-mid;
    cursor: not-allowed;
  }

  &.selected {
    background: $primary;
    color: white;
  }

  &.locked {
    background: $gray-dark;
    color: white;
    &::after {
      content: " 🔒";
      font-size: 0.9rem;
    }
  }
}
